<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de Glaucoma con Imágenes del Fondo del Ojo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detector de Glaucoma con Imágenes del Fondo del Ojo</h1>
        <p>Sube una imagen para hacer una predicción sobre el glaucoma.</p>

        <input type="file" id="fileInput" accept="image/*">
        <button id="predictButton">Predecir</button>
        <div id="result"></div>

        <div class="image-container">
            <div class="image-box">
                <div class="label">Imagen Original</div>
                <div id="imageOriginal"></div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>

